In [1]:
###그것이 알고싶다 17년11월에는 무슨 일이??

In [6]:
###매매가 변동 크기###
import pandas as pd
import numpy as np
from matplotlib import rc
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession

meme = pd.read_csv("meme.csv", encoding="utf-8")
date=list(meme)
date_list=date[1:]

#ratio_col=set(ratio.iloc[1].values)
meme_list=meme['지 역'].values
meme_list
meme_money=[]
for i in range(0,len(meme_list)):
    meme_money.append(meme.iloc[i].values[1:])
    
    
### DataFrame 생성 ###
meme_df = pd.DataFrame(columns = ['지 역','날 짜','가 격'])

for i in range(0,len(meme_list)):
    meme_diff=np.diff(meme_money[i])
    meme_diff_list=meme_diff.tolist()
    meme_df.loc[i] = [meme_list[i], date_list[meme_diff_list.index(max(meme_diff))],max(meme_diff)]

meme_df_sort=pd.DataFrame(meme_df.sort_values(by=['가 격'],ascending=False))
meme_df=meme_df_sort.reset_index(drop=True)
meme_df

        지 역        날 짜         가 격
0   서울-강남지역  2017년 11월  75166.3333
1   서울-강북지역  2017년 11월  62725.0000
2        세종  2017년 11월  57336.0000
3        부산  2017년 11월  34527.7500
4        광주  2017년 11월  31356.0000
5        대구  2015년 06월  22868.0000
6        울산  2015년 06월  19149.0000
7       전라도  2017년 11월  16395.5000
8        경기  2017년 11월  16096.6250
9        강원  2017년 11월  15695.0000
10       대전  2015년 06월  15419.0000
11       인천  2017년 11월  13502.0000
12      충청도  2017년 11월   9008.5000
13      경상도  2017년 11월   7385.0000

In [7]:
###북한의 위대하신 수령님

In [8]:
for i in range(0,len(meme_list)):
    meme_diff=np.diff(meme_money[i])
    meme_diff_list=meme_diff.tolist()
    meme_df.loc[i] = [meme_list[i], date_list[meme_diff_list.index(min(meme_diff))],min(meme_diff)]

meme_df_sort=pd.DataFrame(meme_df.sort_values(by=['가 격']))
meme_df=meme_df_sort.reset_index(drop=True)
meme_df

        지 역        날 짜       가 격
0   서울-강남지역  2012년 11월 -9927.000
1        경기  2014년 12월 -5670.625
2   서울-강북지역  2012년 11월 -4613.000
3        울산  2014년 01월 -4274.000
4       충청도  2015년 06월 -3591.000
5        인천  2015년 06월 -2699.000
6        세종  2019년 03월 -2060.000
7        대전  2013년 03월 -1779.000
8        부산  2012년 11월 -1402.500
9        대구  2016년 05월  -821.000
10       광주  2014년 12월  -729.000
11      경상도  2018년 07월  -672.500
12       강원  2016년 08월  -574.000
13      전라도  2012년 10월  -380.000

In [9]:
meme = pd.read_csv("meme.csv", encoding="utf-8")
year=["2012년", "2013년" , "2014년","2015년", "2016년" , "2017년", "2018년" , "2019년"]

date=list(meme)
date_list=date[0:]
year_list=[] 

for i in range(len(year)) :
    year_list.append([dec for dec in date_list if year[i] in dec])

region_list=meme['지 역'].values
meme_money=[]
for i in range(0,len(region_list)):
    meme_money.append(meme.iloc[i].values[0:])

### DataFrame 생성 ### 
meme_df = pd.DataFrame(columns = date_list)

for i in range(0,len(region_list)):
     meme_df.loc[i] = meme_money[i]

meme_mean=[]

#### 연도별 평균 ### 
for i in range(len(year_list)) :
     meme_mean.append(meme_df[year_list[i]].mean(axis=1))

    

### DataFrame 생성 ### 
meme_2_df = pd.DataFrame(columns = year)
for i in range(len(year)):
    meme_2_df[year[i]] = meme_mean[i]

### MatePlot 생성 ### 
# plt.figure(figsize=(7,7))
# plt.plot(year,meme_mean,label=region_list)
# plt.legend(region_list,loc = 'upper left',ncol=4,bbox_to_anchor=(1, 1)) 
# rc('font', family='AppleGothic')
# plt.rcParams['axes.unicode_minus'] = False

# plt.show()

In [10]:
meme_2_df.to_csv("meme_pandas.csv", mode='w')

In [11]:
#spark=SparkSession.builder.appName("asd").getOrCreate()
meme_spark=spark.read.csv('meme_pandas.csv',header=True,inferSchema=True)
meme_spark.show()

+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
|_c0|            2012년|            2013년|            2014년|            2015년|            2016년|            2017년|            2018년|      2019년|
+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
|  0| 415972.6666666667| 400193.0833333333| 398664.3333333333| 404173.1458333333| 417155.1041666667| 431252.9791666667| 516639.4791666667|  595664.025|
|  1| 567245.6944416667| 538015.9166666666| 533957.6111083333| 549192.8333333334|       569374.6111| 593000.7222166667| 712203.9444416667|776786.13333|
|  2|259644.11458333334|      247329.46875|251310.86458333334|252291.17708333334|257881.27083333334|      263432.15625| 286459.6979166667| 304163.9875|
|  3|          190322.5|182960.58333333334|189538.58333333334|          193661.5|196058.91666666666|200360.41666666666|214859.91666666666|    226064.8|
|  4|192538.64583333334|187918.70833333334|190268.91666666666|196646.77083333334|        205101.375|        216844.625|248240.02083333334|   246447.35|
|  5|165820.66666666666|         173595.75|188890.83333333334|214495.41666666666|231217.58333333334|235100.66666666666| 266624.6666666667|    285922.2|
|  6|134370.83333333334|         136045.75|         138741.25|155250.83333333334|170748.91666666666|174749.33333333334|209404.08333333334|    235633.5|
|  7|193437.41666666666|         189449.75|192209.66666666666|200736.41666666666|209879.16666666666|214789.41666666666|224571.91666666666|    247714.5|
|  8|209427.33333333334|          208592.0|         209553.25|          224124.0|         238508.25|240368.66666666666|249331.08333333334|    242674.2|
|  9|          150162.0|154218.16666666666|         160109.75|176995.83333333334|198060.16666666666|225823.83333333334|         288625.75|    324994.8|
| 10|115920.33333333333|115430.41666666667|         116631.25|          121708.5|127557.08333333333|131069.33333333333|146120.58333333334|    151702.3|
| 11|129870.08333333333|132768.66666666666|         136770.75|136998.83333333334|134273.91666666666|         134164.75|141127.29166666666|   147574.95|
| 12|137933.29166666666|139169.54166666666|143293.45833333334|149055.20833333334|151299.16666666666|150667.83333333334|153595.54166666666|    154269.2|
| 13| 96685.58333333333|           94800.5|           94560.0| 99321.29166666667|        104581.125|108049.54166666667|124926.20833333333|    132094.1|
+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+

In [34]:
meme_spark.select('2012년','2013년','2014년','2015년').distinct().show()

+------------------+------------------+------------------+------------------+
|            2012년|            2013년|            2014년|            2015년|
+------------------+------------------+------------------+------------------+
| 415972.6666666667| 400193.0833333333| 398664.3333333333| 404173.1458333333|
| 567245.6944416667| 538015.9166666666| 533957.6111083333| 549192.8333333334|
|259644.11458333334|      247329.46875|251310.86458333334|252291.17708333334|
|          190322.5|182960.58333333334|189538.58333333334|          193661.5|
|192538.64583333334|187918.70833333334|190268.91666666666|196646.77083333334|
|165820.66666666666|         173595.75|188890.83333333334|214495.41666666666|
|134370.83333333334|         136045.75|         138741.25|155250.83333333334|
|193437.41666666666|         189449.75|192209.66666666666|200736.41666666666|
|209427.33333333334|          208592.0|         209553.25|          224124.0|
|          150162.0|154218.16666666666|         160109.75|176995.83333333334|
|115920.33333333333|115430.41666666667|         116631.25|          121708.5|
|129870.08333333333|132768.66666666666|         136770.75|136998.83333333334|
|137933.29166666666|139169.54166666666|143293.45833333334|149055.20833333334|
| 96685.58333333333|           94800.5|           94560.0| 99321.29166666667|
+------------------+------------------+------------------+------------------+

[Row(2012년=415972.6666666667),
 Row(2012년=567245.6944416667),
 Row(2012년=259644.11458333334),
 Row(2012년=190322.5),
 Row(2012년=192538.64583333334),
 Row(2012년=165820.66666666666),
 Row(2012년=134370.83333333334),
 Row(2012년=193437.41666666666),
 Row(2012년=209427.33333333334),
 Row(2012년=150162.0),
 Row(2012년=115920.33333333333),
 Row(2012년=129870.08333333333),
 Row(2012년=137933.29166666666),
 Row(2012년=96685.58333333333)]